/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: system-ui;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
}

/* Header styling */
header {
  padding: 2rem 0rem;
  border-bottom: 2px solid #29213f;
  text-align: center;
  background: linear-gradient(180deg, rgba(29, 135, 40, 1) 38%, rgba(7, 102, 0, 0) 26%, rgba(0, 212, 255, 0) 100%);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

header ul {
  list-style: none;
}

header a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

header a:hover {
  text-decoration: underline;
  color: rgb(168, 0, 173);
}

header a:active {
  text-decoration: underline;
  color: rgb(255, 0, 242);
}

/* Profile image styling */
header img {
  display: inline-block;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
  justify-self: center;
}

/* Name styling */
header h1 {
  text-align: center;
  color: green;
  text-decoration: underline;
}

/* Main layout adjustments */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

footer {
  margin: 2rem;
}

section {
  margin-bottom: 3rem;
}

section p {
  max-width: 80ch;
}

/* Education, Experience, and Skills text adjustments */
section li h3,
section li p {
  font-size: 1rem;
  letter-spacing: 0.1px;
}

/* Bullet point spacing */
section li {
  margin: 0.5rem 0;
}

h2:hover {
  text-decoration: underline;
  color: rgb(168, 0, 173);
}

.textsection {
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* Styling for the inline-block element */
.boxsection {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.inline-block {
  display: block;
  border: 2px solid green;
  padding-left: 40px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 350px;
}

.image {
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem auto;
}

.overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .5s ease;
  background-color: #e6f9ff8f;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  margin: 3rem auto;
  height: 300px;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: rgb(168, 0, 173);
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: green;
  text-decoration-style: wavy
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* CSS rules for extra small screens */
  main {
    margin: 1rem 3rem;
  }
  
  .boxsection {
    width:100%;
    flex-direction: column;
    align-items: center;

  }

  .inline-block {
    width: 90%;
    padding-right:15px;
   }
  
}
  /* Small devices (portrait tablets and large phones, 600px to 768px) */
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    /* CSS rules for small screens */
    main {
      margin: 1rem 4rem;
    }
    
    .boxsection {
      width:75%;
      flex-direction: column;
      align-items: center;
    }

    .inline-block {
      width: 90%;
      padding-right:15px;
     }
  }
 
/* Medium devices (landscape tablets, 768px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* CSS rules for medium screens */
  .textsection {
    width:75%;
  }
  
  .boxsection {
    width:82%;
    height: 100%
  }

  .inline-block {
   margin-right: 10px;
   padding-right:15px;
  }
}
 
/* Large devices (laptops/desktops, 992px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* CSS rules for large screens */
  .textsection {
    width:75%;
  }
  
  .boxsection {
    width:82%;
    height: 100%
  }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
  /* CSS rules for extra large screens */
  .textsection {
    width:750px;
  }
  
  .boxsection {
    width:800px;
    height: 100%
  }

  .inline-block {
    margin-right: 10px;
    padding-right:15px;
   }
}